<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg"></div>
        <p>Lugar para barra de busqueda</p>
        <p>comprá en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>    
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
                <br>
                <li><a href="Crea tu cuenta">Crea tu cuenta</a></li>
                <li><a href="Ingresá">Ingresá</a></li>
                <li><a href="Mis compras">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>  
        <section>   
            <h2>Basado en tu ultima visita</h2>
            <article>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    <p>precio: $6770</p>
                    <h4> 40% OFF </h4>
                    <p>Cafetera Moulinex</p>

                </article>
            </article>
            <article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019, con touchbar apta para manijas">
                    <p>precio: $230.000</p>
                    <h4> 20% OFF </h4>
                    <p>Macbook Pro 2019</p>

                </article>
            </article>
            <article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10, no hace crack">
                    <p>precio: $70500</p>
                    <h4> 10% OFF </h4>
                    <p>Samsung Galaxy S10</p>

                </article>
            </article>
            <article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10, no hace crack">
                    <p>precio: $23.200</p>
                    <h4> 5 OFF </h4>
                    <p>SmartTv Samsung 43"</p>

                </article>
            </article>
        </section>

    </main>
    <footer>
        <h5><a href="Pagá con tarjeta o en efectivo">Pagá con tarjeta o en efectivo</a></h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
        <h5><a href="Envío gratis desde $ 2.500">Envío gratis desde $ 2.500</a></h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p> 
        <h5><a href="Seguridad, de principio a fin">Seguridad, de principio a fin</a></h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>  
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

    </footer>
</body>
</html>